@code {

    [Parameter]
    public GroupModel Group { get; set; } = null!;

    // Remove duplicated code
}

@if (Group is SvgGroupModel)
{
    <g class="children" transform="translate(@((-Group.Position.X).ToInvariantString()) @((-Group.Position.Y).ToInvariantString()))">
        @foreach (var t_Node in Group.Children)
        {
            if (t_Node is GroupModel t_G)
            {
                <GroupRenderer @key="t_G.Id" Group="t_G"></GroupRenderer>
            }
            else
            {
                <NodeRenderer @key="t_Node.Id" Node="t_Node"></NodeRenderer>
            }
        }
    </g>
}
else
{
    <div class="children" style="top: @((-Group.Position.Y).ToInvariantString())px; left: @((-Group.Position.X).ToInvariantString())px">
        @foreach (var t_Node in Group.Children)
        {
            if (t_Node is GroupModel t_G)
            {
                <GroupRenderer @key="t_G.Id" Group="t_G"></GroupRenderer>
            }
            else
            {
                <NodeRenderer @key="t_Node.Id" Node="t_Node"></NodeRenderer>
            }
        }
    </div>
}