<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")">
    @(Node.Title ?? "Title")
    @foreach (var t_Port in Node.Ports)
    {
        <PortRenderer @key="t_Port" Port="t_Port" Class="default"></PortRenderer>
    }
</div>

@code {

    [Parameter]
    public NodeModel Node { get; set; } = null!;

}